<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="{{ SITEURL }}">
      <img class="navbar-brand-logo" src="{{ SITEURL }}/style/images/logo.png" />
      <h3 class="course-title">{{ COURSE_NAME }}</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        {% for (page, url) in MENUITEMS %}
        <li class="nav-item">
          <a class="nav-link" href="{{ SITEURL }}/{{ url }}">{{ page }}</a>
        </li>
        {% endfor %}
        <form
          class="form-inline my-2"
          action="{{ SITEURL }}/search.html"
          onsubmit="return validateForm(this.elements['q'].value);"
        >
          <div class="input-group input-group-sm">
            <input class="form-control" type="text" name="q" placeholder="Search Topic">
            <div class="input-group-append">
              <button class="btn btn-default" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
        </div>
      </form>
      </ul>
    </div><!-- .collapse navbar-collapse -->
  </div><!-- .container -->
</nav>
